@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: 243e63;
}

a {
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin: 24px 24px;
  padding: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 2px;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  letter-spacing: 0.6px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
}


.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: color 300ms; /* Focus on specific properties */
    color: #243e63; 
}

/* Primary link */
.nav__link--primary {
    padding: 10px 32px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    transition: background 300ms; /* Adjust specific properties */
}

/* Hover effects for both */
.nav__link:hover {
    color: #6415ff; 
}

.nav__link--primary:hover {
    background: rgba(100, 21, 255, 0.8);

    
}

/* After pseudo-element effects */
.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff; 
    transition: opacity 300ms; 
    opacity: 0;
}

.nav__link:hover:after {
    opacity: 1; 
}
