@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: 243e63;
}

a {
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


img {
    width: 100%;
}
.purple {
    color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin: 24px 24px;
  padding: 40px;
  display: flex;
  
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 2px;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  letter-spacing: 0.6px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
}


.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: color 300ms; /* Focus on specific properties */
    color: #243e63; 
}

/* Primary link */
.nav__link--primary {
    padding: 10px 32px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    transition: background 300ms; /* Adjust specific properties */
}

/* Hover effects for both */
.nav__link:hover {
    color: #6415ff; 
}

.nav__link--primary:hover {
    background: rgba(100, 21, 255, 0.8);

    
}

/* After pseudo-element effects */
.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff; 
    transition: opacity 300ms; 
    opacity: 0;
}

.nav__link:hover:after {
    opacity: 1; 
}


/* HEADER */

.container {
    padding: 96px 0;

}

header .row {
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-variant-emoji: ;
    font-stretch: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img {
    width: 100%;
}


@media (max-width: 1280px) {
    .header__customers {
        padding-right: 64px;
    }
}

@media (max-width: 1280px) {
.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
}
}

@media (max-width: 1280px) {
    .header__description--para {
        font-size: 16px;
    }
}

@media (max-width: 1280px) {
    .header__img {
        max-width: 512px;
    }

